<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="row">
                {{ task.titulo }}
            </div>
            <div class="row">
                {{ task.descripcion }}
            </div>
        </div>
        <div class="col-2">
            <button class="btn" (mouseenter)="changeIcon(true)" (mouseleave)="changeIcon(false)">
                Terminar
                @if (isDivVisble) {
                <i class="bi bi-check-square-fill"></i>
                } @else {
                <i class="bi bi-check-square"></i>
                }
            </button>
        </div>
        <div class="col-2">
            <button class="btn" (click)="editarTarea()">
                Editar
                <i class="bi bi-pencil-square"></i>
            </button>
        </div>
    </div>
</div>