<div class="container-fluid my-3 px-5 rounded  py-2 tarea">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-8">
            <div class="row row border-bottom pb-2 mb-2 tasktitle">
                <div class="col-auto"><b>{{ task.titulo }}</b></div>
                <div class="col-auto categoriaStyle">
                    @if (task.nombreLista != ""){
                        {{ task.nombreLista }}
                    } @else {
                        Sin Categoria
                    }
                    
                </div>
            </div>
            <div class="row">
                <em>{{ task.descripcion }}</em>
            </div>
        </div>

        @if (!terminada) {
        <div class="col-2">
            <button class="btn btn-warning" (click)="editarTarea()">
                Editar
                <i class="bi bi-pencil-square"></i>
            </button>
        </div>
        <div class="col-2">
            <button class="btn btn-success" (mouseenter)="changeIcon(true)" (mouseleave)="changeIcon(false)"
                (click)="cambiarEstado()">
                Terminar
                @if (isDivVisble) {
                <i class="bi bi-bookmark-check-fill"></i>
                } @else {
                <i class="bi bi-bookmark-check"></i>
                }
            </button>
        </div>
        } @else {
        <div class="col-2">
            <button class="btn btn-info" (click)="cambiarEstado()">
                Abrir
                <i class="bi bi-escape"></i>
            </button>
        </div>
        <div class="col-2">
            <button class="btn btn-danger">
                Borrar
                <i class="bi bi-trash-fill"></i>
            </button>
        </div>
        }


    </div>
</div>