<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand title">
            TaskitosMasterManager
        </a>

        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                {{ nombreUsuario }}
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <img class="rounded-circle" width="50px" height="50px"
                    src="https://i.pinimg.com/736x/2a/bb/68/2abb6892c5d5f35d913b027dbd310b4f.jpg">
            </div>
            <div class="col btn">
                Notificaciones
                <i class="bi bi-bell"></i>
            </div>
        </div>
    </div>
</nav>