.btn {
    min-width: 130px;
    color: white;
}
.item{
    color: white;
    display: flex;
    justify-content: center;
}
.sidebarComponent{
    background-color: #ff4b2b;
    border-radius: 10px;
}
.btn.btn-outline-secondary {
    border-color: white;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.btn.btn-outline-secondary:hover {
    background-color: white;
    color: #ff4b2b;
    border-color: white;
}
