<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-5">
            <a class="btn btn-outline-secondary" routerLink="/dashboard">
                Dashboard
            </a>
        </div>
        <div class="col-12 my-5">
            <a class="btn btn-outline-secondary">
                Mis tareas
            </a>
        </div>
        <div class="col-12 my-5">
            <a class="btn btn-outline-secondary">
                Calendario
            </a>
        </div>
        <div class="col-12 my-5">
            <a class="btn btn-outline-secondary" routerLink="/listas">
                Listas
            </a>
        </div>
        <div class="col-12 my-5">
            <a class="btn btn-outline-secondary">
                Configuracion
            </a>
        </div>
    </div>
</div>