<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-5">
            <button class="btn btn-outline-secondary">
                Dashboard
            </button>
        </div>
        <div class="col-12 my-5">
            <button class="btn btn-outline-secondary">
                Mis tareas
            </button>
        </div>
        <div class="col-12 my-5">
            <button class="btn btn-outline-secondary">
                Calendario
            </button>
        </div>
        <div class="col-12 my-5">
            <div class="btn btn-outline-secondary">
                Listas
            </div>
        </div>
        <div class="col-12 my-5">
            <div class="btn btn-outline-secondary">
                Configuracion
            </div>
        </div>
    </div>
</div>