<app-header />

<div class="container-fluid">
    <div class="row">
        <div class="col-2 notPadding">
            <app-sidebar />
        </div>
        <div class="col">
            <app-boton-agregar-tarea />
            <full-calendar style="width: 700px; height: 400px;" [options]="calendarOptions"></full-calendar>

            @for (tarea of tareasAbiertas; track tarea.idPropio) {
                <app-task-component 
                [task]="tarea" 
                (editarTareaEvento)="editarTarea(tarea)"
                (cambiarEstadoEvento)="terminarTarea(tarea)" />
            }

            @if (tareasTerminadas.length != 0) {
                <hr>
            }

            @for (tarea of tareasTerminadas; track tarea.idPropio) {
                <app-task-component
                [task]="tarea"
                [terminada]="true"
                (cambiarEstadoEvento)="abrirTarea(tarea)"
                />
            }

        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">{{ selectedEvent?.title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
    </div>
  </div>
</div>
