<app-header />

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-sidebar />
        </div>
        <div class="col">
            <app-boton-agregar-tarea />

            @for (tarea of tareasAbiertas; track tarea.id) {
                <app-task-component 
                [task]="tarea" 
                (editarTareaEvento)="editarTarea(tarea)"
                (cambiarEstadoEvento)="terminarTarea(tarea)" />
            }

            @if (tareasTerminadas.length != 0) {
                <hr>
            }

            @for (tarea of tareasTerminadas; track tarea.id) {
                <app-task-component
                [task]="tarea"
                [terminada]="true"
                (cambiarEstadoEvento)="abrirTarea(tarea)"
                />
            }

        </div>
    </div>
</div>